:root{
    --width-video-item: 28em;
    --height-video-item: 16em;
    --width-video-item-little: 20em;
    --height-video-item-little: 11em;
    --min-width-video-item:20em;
    --min-height-video-item:11em;
}

body{
    background-color: #eaeaea;
}
html { 
    overflow-y: scroll; 
}

.dimmer{
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    backdrop-filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-video-item:hover .video-item-body{
    /* display:flex; */
    transform: scale(1.05);
    opacity: 1;
}
.main-video-item:hover{
    transform: scale(1.02);
}

.main-video-item{
    flex-basis: 24%;
}

.video-item-body{
    /* display:none; */
    display: flex;
}

/* sticky !important */
.sidebar{
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
}


@media only screen and (max-width: 1980px) {
    .main-video-item{
        flex-basis: 33%;
    }
}

/* change size of video-card and image when window is less than 1000px wide */
@media only screen and (max-width: 1000px) {
    .main-video-item{
        flex-basis: 49%;
    }
}

@media only screen and (max-width: 650px) {
    .main-video-item{
        flex-basis: 100%;
    }
}