

.dimmer{
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    backdrop-filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}