body{
    background-color: #eaeaea;
}

.dimmer{
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    backdrop-filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-video-item:hover .video-item-body{
    display:flex;
}

.video-item-body{
    display: none;
}
.main-video-item{
    width: 18em;
    height: 18em;
}
.video-item-img{
    width: 18em;
    height: 18em;
    object-fit:cover;
}